.top_nav{
   position: fixed;
   top: 0;
   left: calc(260px + 10px);
z-index: 999;
background: var(--primary-color);
width: calc(100% - 260px);  
height: 70px;
line-height: 70px;


}
.top_nav_wrapp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    
}


.top_nav-right{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    justify-content: flex-end;

}
.search_box{
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 0px 10px;
    background: #0b0c28;
    justify-content: space-between;
    /*background: var(--body-color) !important;*/
    border-radius: 5px;
    cursor: pointer;
    height: 40px;


}
.search_box input{
    background: transparent;
    border: none;
    outline: none;
    color: var(--small-text-color);

}
.search_box input::placeholder{
    color: var(--small-text-color);
}
.search_box span{
   color: var(--small-text-color); 
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    object-fit: cover;

}
.notification i{

    font-size: 1.2rem;
    color: var(--small-text-color);
    cursor: pointer;

}
.notification{
    position: relative;

}
.badge{
    position: absolute;
    top: 25%;
    right: -10%;
    width: 13px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 50px;
    color: white;
    font-size: 0.8rem;





}
    
 


